*{
	background-color: #b3cccc;
}


.wrapper h1{
	text-align: center;
	font-size: 30px;
	font-family: audiowide;
}

.img-area{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width:100%;
}

.single-img{
	padding: 0 20px 20px;
	margin: auto;
}

.single-img:hover{
	opacity: 0.7;
	transition: 0.9s;
}

.image{
	height: 50vh;
	width: 50vh;
}